@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(246, 240, 240);
  --dark-purple: rgb(60, 21, 59);
  --turquoise: rgb(32, 163, 158);
  --dark-yellow: rgb(255, 186, 73);
  --dark-red: rgb(186, 36, 41);
  --dark-blue: rgb(0, 125, 219);
  --darker-blue: rgb(38, 99, 145);
  --light-gray: rgb(145, 144, 144);
  --middle-blue: rgb(121, 163, 195);
  --light-blue: rgb(235, 241, 246);
}

body {
  background: var(--background);

  color: var(--dark-purple);
}

.content-container {
  max-width: 1000px;
}
